.picture-cards{
    margin: 1%;
    padding: 1rem;
    border: 1px solid #C8C7C7;
    background-color: #f2f2f2;
    border-radius: 0;
    display:flex;
    flex-direction: row;
}
.card-image-container{
    flex:1;
}
.card-image{
    width: 16rem;
    border: 1px solid #C8C7C7;
    border-radius: 0;
}
.card-body{
    padding: 0 1rem;
}
.title{
    text-align: left;
    padding: 0.6rem 0.4rem;
    font-size: xx-large;
}

.text{
    text-align: left;
    padding: 0.3rem 0.4rem;
    font-size: large;
}